{% extends 'layout.twig' %}
{% block maincontent %}
<h3>Sign in with your Twitter account.</h3>
<a title="Sign in with Twitter" href="{{ app.request.getBasePath }}/twitter-signin">
    <img src="{{ app.request.getBasePath }}/images/lighter.png" alt="Sign in with Twitter"/>
</a>
{% endblock maincontent %}