<form action="{{ app.request.getBasePath }}/compare-users" method="post" id="form_compare"
      class="compare_ajax" style="display: none">
    <input type="hidden" name="action" id="action" value="compare" />
    {% for users in 0..4 %}
        <input type="hidden" name="compare[users][]" value="" />
    {% endfor %}
    <p>
        <label id="type_followers">
            Followers
            <input type="radio" name="compare[type][]" value="followers" id="type_followers" checked="checked" />
        </label>
        <label for="type_followings">
            Followings
            <input type="radio" name="compare[type][]" value="followings" id="type_followings" />
        </label>
    </p>
</form>
<div id="compare_results" class="clearfix"></div>