{% extends 'layout.twig' %}
{% block maincontent %}
<h2>Welcome {{ signed_user.screen_name }}</h2>
<h3>Enter up to 5 users.</h3>
<section id="list_users">
    <div id="message" class="ui-state-error" style="display: none"></div>
    {% include 'user.twig' %}
</section>
<section id="searcher">
    {% include 'compare.twig' %}
</section>
{% endblock maincontent %}