/**
 * Body
 */
body {
    position: relative;
	font-size: 1em;
}

#loading {
    position: absolute;
    width: 100%;
    height: 100%;
    top: -15px;
    left: 0;
    z-index: 1;
    text-indent: -9999px;
}

#loading > p {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#loading > p:first-child {
    background: white;
    opacity: 0.6;
    z-index: 1;
}
#loading > p:last-child {
    z-index: 2;
    background: url('/images/ajax-loader.gif') no-repeat center center;
}

#main {
    z-index: 2;
}

/**
 * users figure
 */
.users_figure {
	background-color: #CCC;
	border: 2px solid #898989;
	border-radius: 15px;
	width: 140px;
	text-align: center;
	padding: 10px 0;
    float: left;
}
.users_figure em {
	font-size: 0.65em;
}
#searcher {
    clear: both;
}

/**
 * Result of compare
 */
#compare_results {
    padding: 10px 20px;
    margin: 20px 0;
}
.onefriend {
    float: left;
    width: 200px;
    height: 75px;
    padding: 10px 0;
}
.onefriend a {
    display: block;
}

footer {
    clear: left;
}

/* new clearfix */
.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
	}
* html .clearfix             { zoom: 1; } /* IE6 */
*:first-child+html .clearfix { zoom: 1; } /* IE7 */